.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    @media (max-width: 800px) {
        justify-content: center;
    }
}

.container div {
    display: flex;
    justify-content: center;
}